
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/bkaradzic/bx
[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = https://github.com/glfw/glfw
